.about {
  line-height: 15px;
}

.rounded-card {
  max-width: 540px;
}

.card-image {
  padding: 5px;
  height: 350px;
  width: auto;
}

.card-text {
  font-size: 12px;
  text-align: justify;
}

.data-container {
  border-radius: 13px;
  height: 300px;
}

.text-icon {
  height: 21px;
  width: 21px;
  margin: 3px;
}

.mana-icon {
  height: 21px;
  width: 21px;
  margin-top: -10px;
}

.symbol-icon {
  height: 21px;
  width: auto;
}

.icon-column {
  max-width:25px;
  padding-left: 10px;
  padding-right: 10px;
}

.number-icon {
  font-weight: bold;
  font-size: 15px;
}

.image-shadow {
  -webkit-filter: drop-shadow(2px 2px 2px #6c757d);
  filter: drop-shadow(2px 2px 2px #6c757d);
}

.flavor {
  font-style: italic;
  line-height: 14px;
}

.svg-icon {
  margin-top: -10px;
}

.image-loader {
  position: absolute;
  left: 40%;
  top: 40%;
}

.pt-info {
  line-height: 0;
}

.pt-label {
  margin-top: 10px;
  line-height: 12px;
}

.group-item {
  font-size: 13px;
}

.spinner-border {
  &_B, &_C {
    color: #cccccc !important;
  }
  &_G {
    color: #99cc99 !important;
  }
  &_M {
    color: #cc9966 !important;
  }
  &_R {
    color: #ff9999 !important;
  }
  &_W {
    color: #ffffcc !important;
  }
  &_U {
    color: #99ccff !important;
  }
}

.card-color {
  &_B, &_C {
    background-color: #cccccc !important;
  }
  &_G {
    background-color: #99cc99 !important;
  }
  &_M {
    background-color: #cc9966 !important;
  }
  &_R {
    background-color: #ff9999 !important;
  }
  &_W {
    background-color: #ffffcc !important;
  }
  &_U {
    background-color: #99ccff !important;
  }
}